Source: ros-noetic-ur-robot-driver
Section: misc
Priority: optional
Maintainer: Felix Exner <exner@fzi.de>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-noetic-actionlib, ros-noetic-catkin, ros-noetic-control-msgs, ros-noetic-controller-manager, ros-noetic-controller-manager-msgs, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-industrial-robot-status-interface, ros-noetic-kdl-parser, ros-noetic-pass-through-controllers, ros-noetic-pluginlib, ros-noetic-roscpp, ros-noetic-rostest <!nocheck>, ros-noetic-scaled-joint-trajectory-controller, ros-noetic-sensor-msgs, ros-noetic-speed-scaling-interface, ros-noetic-speed-scaling-state-controller, ros-noetic-std-srvs, ros-noetic-tf, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-msgs, ros-noetic-trajectory-msgs, ros-noetic-ur-client-library, ros-noetic-ur-dashboard-msgs, ros-noetic-ur-msgs
Homepage: http://wiki.ros.org/ur_robot_driver
Standards-Version: 3.9.2

Package: ros-noetic-ur-robot-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-actionlib, ros-noetic-cartesian-trajectory-controller, ros-noetic-control-msgs, ros-noetic-controller-manager, ros-noetic-controller-manager-msgs, ros-noetic-force-torque-sensor-controller, ros-noetic-geometry-msgs, ros-noetic-hardware-interface, ros-noetic-industrial-robot-status-controller, ros-noetic-joint-state-controller, ros-noetic-joint-trajectory-controller, ros-noetic-kdl-parser, ros-noetic-pass-through-controllers, ros-noetic-pluginlib, ros-noetic-robot-state-publisher, ros-noetic-roscpp, ros-noetic-scaled-joint-trajectory-controller, ros-noetic-sensor-msgs, ros-noetic-speed-scaling-interface, ros-noetic-speed-scaling-state-controller, ros-noetic-std-srvs, ros-noetic-tf, ros-noetic-tf2-geometry-msgs, ros-noetic-tf2-msgs, ros-noetic-trajectory-msgs, ros-noetic-twist-controller, ros-noetic-ur-client-library, ros-noetic-ur-dashboard-msgs, ros-noetic-ur-description, ros-noetic-ur-msgs, ros-noetic-velocity-controllers, socat
Description: The new driver for Universal Robots UR3, UR5 and UR10 robots with CB3 controllers and the e-series.
